.flex-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 16px;
}

.title-spacer {
  flex: 1 1 auto;
}

.post-header {
  display: block;
  padding: 16px;
}

.post-title {
  display: flex;
}
