<div *ngIf="post">
  <mat-card>
    <mat-card-header class="post-header">
      <mat-card-title class="post-title" id="{{post.anchor}}">
        {{ post.title }}
        <a href="{{'#'+post.anchor}}" class="anchor"></a>
        <span class="title-spacer"></span>
        <share-buttons class="share-buttons"
                       [theme]="'material-light'"
                       [include]="['linkedin']"
                       [show]="1"
                       [url]="'https://buyallmemes.com/#'+post.anchor"
                       [title]="'BuyAllMemes - '+post.title"
                       [autoSetMeta]="false"
        ></share-buttons>
      </mat-card-title>
      <mat-card-subtitle>
        <span>{{ post.date }}</span>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div [innerHTML]="post.content | SafeHtml"></div>
    </mat-card-content>
  </mat-card>
  <div class="flex-container"></div>
</div>
