<div *ngIf="post">
  <mat-card>
    <mat-card-header class="post-header">
      <mat-card-title class="post-title" id="{{post.anchor}}">
        <span class="post-title-text">{{ post.title }}</span>
        <span class="title-spacer"></span>
        <share-buttons class="share-buttons"
                       [theme]="'material-light'"
                       [include]="['copy','linkedin']"
                       [show]="2"
                       [description]="postShareTitle"
                       [url]="'https://buyallmemes.com/#'+post.anchor"
                       [title]="postShareTitle"
                       [autoSetMeta]="false"
        ></share-buttons>
      </mat-card-title>
      <mat-card-subtitle>
        <span>{{ post.date }}</span>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div [innerHTML]="post.content | SafeHtml"></div>
    </mat-card-content>
  </mat-card>
  <div class="flex-container"></div>
</div>
